<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26230619292-o2h0vc7o6ab352d7tibansvubhav6qsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26230619292-o2h0vc7o6ab352d7tibansvubhav6qsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCiV5guTe57iJOJgYTlbJnFpp-3M5rKuN0</string>
	<key>GCM_SENDER_ID</key>
	<string>26230619292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezrarubio.ToDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-ios-app-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-ios-app-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26230619292:ios:5c06a63f5353bedd974159</string>
</dict>
</plist>